!!! 5
%html
  %head

    %script{:src => "/javascripts/jquery.js", :type => "text/javascript"}
    %script{:src => "/javascripts/eye.js", :type => "text/javascript"}
    %script{:src => "/javascripts/utils.js", :type => "text/javascript"}
    %script{:src => "/javascripts/spacegallery.js", :type => "text/javascript"}
    %script{:src => "/javascripts/layout.js", :type => "text/javascript"}
    
    %script{:src => "twitter-bootstrap-v2/docs/assets/js/jquery.js"}
    %script{:src => "twitter-bootstrap-v2/docs/assets/js/bootstrap-carousel.js"}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />   




    %link(href='http://fonts.googleapis.com/css?family=Questrial&v1' rel='stylesheet' type='text/css')
    %title= data.page.title || "Corporativo Jurídico Inmobiliario"
    = stylesheet_link_tag "bootstrap","juridico","spacegallery"
    = javascript_include_tag  "bootstrap"
    
  %body
    .container
      .header    
        .row
          .span6
            %img{:src => "/images/logo.png", :alt => "CORPORATIVO JURIDICO INMOBILIARIO"}       
          .span6
            .mtitle    
              Asesoría Legal Gratuita<br/>
              Tel: (0155) 5651-3234

      .menu
        %ul.breadcrumb
          %li
            %a{:href => "/index.html"} Inicio
            %span.divider /
          %li
            %a{:href => "/pages/nosotros.html"} Nosotros
            %span.divider /
          %li
            %a{:href => "/pages/servicios.html"} Jurídico
            %span.divider /

          %li
            %a{:href => "/pages/inmuebles.html"} Inmobiliario
            %span.divider /

          %li
            %a{:href => "/pages/venta.html"} Venta Inmuebles
            %span.divider /

          %li
            %a{:href => "/pages/renta.html"} Renta Inmuebles
            %span.divider /
          %li
            %a{:href => "/pages/clientes.html"} Clientes
            %span.divider /
          %li
            %a{:href => "/pages/contacto.html"} Contacto


      = yield
      .footer
        .row
          .span12
            %a{:href => "/pages/contacto.html"} 
              %img{:src => "/images/asesoriab.png", :alt => "Asesoría Legal GRATUITA"}/
            
          .row
            .span12
              Querétaro 222 int 104, col. Roma. c.p. 06760, Delegación Cuauhtémoc, Distrito Federal. Tel 5651-3234

   

    :javascript
      $('.carousel').carousel({
      interval: 2000 // in milliseconds
      })
      
      $('#myGallery').spacegallery({loadingClass: 'loading'});
