---
title : 25 HIDROXI VITAMINA D
layout: layoutestudios
---
.row
  .col-md-12
    .panel.panel-default
    / Default panel contents
    .panel-heading 25 HIDROXI VITAMINA D
    .panel-body
      %p Prueba para determinar la cantidad de vitamina D en la sangre
    / List group
    %ul.list-group
      %li.list-group-item Prueba : en sangre
      %li.list-group-item Instrucciones paciente : presentarse con un ayuno de 12horas
      %li.list-group-item Dias de proceso : 2 días
      