.row
  .col-md-10.col-md-offset-1
    .titlep
      Anatomía Patológica
.row

  .col-md-3.col-md-offset-1
    %img.img-responsive{alt: "Imagen responsive",  src: "/images/labo.jpg"}/
         
    .h5.text-center 
      La misión de Laboratorios Clínicos Satélite es brindar un servicio de excelencia dando a nuestros pacientes una atención de calidad y calidez a través de un contacto personal en todas nuestras áreas.

  .col-md-7
    .text
      Es uno de los pilares fundamentales de la medicina y una disciplina básica imprescindible para médicos y otros profesionales de la sanidad.<br/>

      La interpretación de los síntomas de las distintas enfermedades o alteraciones que se encuentran en la exploración de los pacientes exige el conocimiento de todo el espectro de lesiones que se presentan en cada uno de los tejidos u órganos.<br/>

      La anatomía patológica comprende todos los aspectos de la enfermedad, fundamentalmente a nivel celular morfológico. Estas alteraciones son estudiadas por medio de biopsias con diversos métodos, que abarcan desde la patología molecular hasta la macroscópica; que se traducen en los cambios observados en la microscopía (microscopia óptica o convencional y microscopía electrónica) y la macroscopía; utilizando diversas técnicas, desde la histoquímica e inmunohistoquímica, hasta la ultraestructura y las técnicas de patología molecular (FISH, PCR).
      