.row
  .col-md-10.col-md-offset-1
    .titlep
      Bacteriología Clínica
.row

  .col-md-3.col-md-offset-1
    %img.img-responsive{alt: "Imagen responsive",  src: "/images/labo.jpg"}/
         
    .h5.text-center 
      La misión de Laboratorios Clínicos Satélite es brindar un servicio de excelencia dando a nuestros pacientes una atención de calidad y calidez a través de un contacto personal en todas nuestras áreas.

  .col-md-7
    .text
      Es el epicentro para la toma de decisiones clínicas, en aspectos de manejo y control de las enfermedades infecciosas bacterianas detectadas por medio de cultivos a varios niveles del organismo ( orofaringe, tracto digestivo, tracto genito urinario, piel, etc. ), tanto dentro de los espacios Hospitalarios, como en la comunidad. La información generada por el Laboratorio de Bacteriología debe contribuir al uso prudente de antibioticos. <br/>

      Todo esto lo hacemos posible mediante el empleo de tecnicas actualizadas ademas de la constante implementacion de nuevas tecnicas.