.row
  .span12.offset1
    .titlep
      CASA EN CONDOMINIO EN VENTA

.row
  .span4.offset1
    %pre.prettyprint.linenums
      .text
        Col.Alamos
        Estado de México, México
        Naucalpan de Juárez
        Carácterísticas
        Construcción:119m2 
        3 recámaras
        2 baños
        Sala-Comedor
        Cuarto de lavado
        Cocina integral
        2 lugares de estacionamiento
        Gas natural
        Venta : $2,100,000.00
        %a{:href =>  "/pages/contacto.html"} Clic aquí para mayores informes.

  .span6
    #myGallery.spacegallery
      %img{:alt => "", :src => "/images/venta/alamos1.jpg"}/
      %img{:alt => "", :src => "/images/venta/alamos2.jpg"}/
      %img{:alt => "", :src => "/images/venta/alamos3.jpg"}/
      %img{:alt => "", :src => "/images/venta/alamos4.jpg"}/
      %img{:alt => "", :src => "/images/venta/alamos5.jpg"}/
      %img{:alt => "", :src => "/images/venta/alamos6.jpg"}/
      %img{:alt => "", :src => "/images/venta/alamos7.jpg"}/   
      %img{:alt => "", :src => "/images/venta/alamos8.jpg"}/   
      %img{:alt => "", :src => "/images/venta/alamos9.jpg"}/
      %img{:alt => "", :src => "/images/venta/alamos10.jpg"}/      
      %img{:alt => "", :src => "/images/venta/alamos11.jpg"}/      
      %img{:alt => "", :src => "/images/venta/alamos12.jpg"}/      
                 
    <br/>
    %a.btn.btn-small.btn-info{:href => "/pages/venta.html"}
      %i.icon-info-sign.icon-white
      Venta de inmuebles

