.row
  .span12.offset1
    .titlep
      CASA EN CONDOMINIO EN VENTA

.row
  .span4.offset1
    %pre.prettyprint.linenums
      .text
        Col. Colinas del sur
        Distrito Federal, México
        Delegación Alvaro Obregón
        Carácterísticas
        Construcción : 180m2
        3 recámaras
        3 1/2 baños
        Sala-Comedor
        Estudio
        Cuerto de Servicio
        Cocina
        2 Estacionamiento
        Cuenta con video portero en casa
        Mantenimiento: $600.00
        Gas estacionario
        Precio Venta : 2,750,000.00
        %a{:href =>  "/pages/contacto.html"} Clic aquí para mayores informes.

       
  .span6
    #myGallery.spacegallery
      %img{:alt => "", :src => "/images/venta/casa colinas 1.jpg"}/
      %img{:alt => "", :src => "/images/venta/casa colinas 2.jpg"}/
      %img{:alt => "", :src => "/images/venta/casa colinas 3.jpg"}/
      %img{:alt => "", :src => "/images/venta/casa colinas 5.jpg"}/
      %img{:alt => "", :src => "/images/venta/casa colinas 6.jpg"}/
      %img{:alt => "", :src => "/images/venta/casa colinas 7.jpg"}/   
      %img{:alt => "", :src => "/images/venta/casa colinas 9.jpg"}/
      %img{:alt => "", :src => "/images/venta/casa colinas 10.jpg"}/   
    <br/>
    %a.btn.btn-small.btn-info{:href => "/pages/venta.html"}
      %i.icon-info-sign.icon-white
      Venta de inmuebles

