.row
  .col-md-10.col-md-offset-1

    .titlep
      CHECKUPS<br/>
<br/>      
.row
  .col-md-3.col-md-offset-1
    .jumbotron
      %img{:src => "/images/labo.jpg", :alt => "Nosotros"}
      .title1
        CHECK-UP<br/> MASCULINO BASICO<br/>
      .text1
        • Biometría hemática<br/> 
        • Química Sanguínea 4 elementos<br/> 
        • Examen general de orina<br/> 
        • Antígeno específico prostático<br/> 
        • Perfil de lípidos básico (colesterol total, HDL, LDL, Triglicéridos)<br/> 
      .title1
        Precio : $660.00  
        
  .col-md-3
    .jumbotron
      %img{:src => "/images/labo1.jpg", :alt => "Nosotros"}
      .title1
        CHECK-UP<br/> MASCULINO COMPLETO<br/>
      .text1
        • Biometría hemática<br/> 
        • Química Sanguínea 27 elementos<br/> 
        • Examen general de orina<br/> 
        • Antígeno específico prostático<br/> 
        <br/>
        
      .title1
        
        Precio : $990.00  
  .col-md-3
    .jumbotron
      %img{:src => "/images/labo2.jpg", :alt => "Nosotros"}
      .title1
        CHECK-UP<br/> BASICO<br/>
      .text1
        • Biometría hemática<br/> 
        • Química Sanguínea 6 elementos<br/> 
        • Examen general de orina<br/> 
        <br/>
        <br/>
        <br/>
      .title1
        
        Precio : $299.00  

.row
  .col-md-3.col-md-offset-1
    .jumbotron
      %img{:src => "/images/labo3.jpg", :alt => "Nosotros"}
      .title1
        CHECK-UP<br/> MASCULINO BASICO<br/>
      .text1
        • Biometría hemática<br/> 
        • Química Sanguínea 4 elementos<br/> 
        • Examen general de orina<br/> 
        • Antígeno específico prostático<br/> 
        • Perfil de lípidos básico (colesterol total, HDL, LDL, Triglicéridos)<br/> 
      .title1
        Precio : $660.00  
        
  .col-md-3
    .jumbotron
      %img{:src => "/images/labo4.jpg", :alt => "Nosotros"}
      .title1
        CHECK-UP<br/> MASCULINO COMPLETO<br/>
      .text1
        • Biometría hemática<br/> 
        • Química Sanguínea 27 elementos<br/> 
        • Examen general de orina<br/> 
        • Antígeno específico prostático<br/> 
      .title1
        Precio : $990.00  
  .col-md-3
    .jumbotron
      %img{:src => "/images/labo5.jpg", :alt => "Nosotros"}
      .title1
        CHECK-UP<br/> BASICO<br/>
      .text1
        • Biometría hemática<br/> 
        • Química Sanguínea 6 elementos<br/> 
        • Examen general de orina<br/> 

      .title1
        Precio : $299.00  
