.row
  .span12.offset1
    .titlep
      Algunos de nuestros clientes

.row
  .span8.offset1
    .text
      %ul
        %li BANAMEX. 
        %li SANTANDER. 
        %li SHERNAND CONTADORES
        %li MARCH PRODUCCIONES S.A. DE C.V.
        %li UNIFORMES Y CALZADOS RUDOS, S.A. DE C.V.
        %li AVICOLA TACUBAYA S.A. DE C.V.
        %li ALTECSA S.A. DE C.V.
        %li AGM CONTRUCCIONES Y ESCAVACIONES, S.A. DE C.V.
        %li PF PLANEACION PARA TU FUTURO, S.C.
        %li CEMONT CONSTRUCTORA S.A. DE C.V.
        %li SMART SOLUTIONS, S.A. DE C.V.
        %li MP METALES PERFILADOS, S.A. DE C.V.

.row
  .span10.offset1
    .text
      Aunado a los anteriores clientes nuestra cartera se encuentra conformada también por diversas personas físicas que nos han brindado su confianza para asesorarlos en las diversas áreas de nuestro Corporativo.
