.row
  .col-md-6
    
    %iframe{allowtransparency: "true", frameborder: "0", height: "679", scrolling: "no", src: "https://virtusweb.wufoo.com/embed/k1bioum01s4fopi/", style: "width:100%;border:none"}


  .col-md-5
    .contacto
      Dirección:<br/>
      Federico T de la Chica # 2 <br/>
      Edificio Zuruch PB Loc. 3<br/>
      Entre Circuito Centro comercial y Manuel Izaguirre<br/>
      Ciudad Satélite<br/> Naucalpan de Juárez<br/>
      C.P. 53100 Edo de México<br/>
      Tel 5393-8989 / 5393-9999<br/> 
      e-mail : <a href='mailto:info@lvlaboratorios.com.mx'>info@lvlaboratorios.com.mx</a><br/>

    .mapa
    %iframe{frameborder: "0", height: "300", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com.mx/maps?f=q&source=s_q&hl=es-419&q=laboratorios+clinicos&aq=&sll=19.516778,-99.230576&sspn=0.012479,0.019805&t=m&ie=UTF8&st=105998789136313368320&rq=1&ev=zi&split=1&radius=0.77&hq=laboratorios+clinicos&hnear=&ll=19.514203,-99.231918&spn=0.012479,0.019805&z=14&iwloc=A&cid=11224741585745215123&output=embed", width: "375"}
    %br/
    %small
    %a{href: "https://maps.google.com.mx/maps?f=q&source=embed&hl=es-419&q=laboratorios+clinicos&aq=&sll=19.516778,-99.230576&sspn=0.012479,0.019805&t=m&ie=UTF8&st=105998789136313368320&rq=1&ev=zi&split=1&radius=0.77&hq=laboratorios+clinicos&hnear=&ll=19.514203,-99.231918&spn=0.012479,0.019805&z=14&iwloc=A&cid=11224741585745215123", style: "color:#0000FF;text-align:left"} Ver mapa más grande
