.row
  .span6
    %iframe{:allowTransparency => "true", :frameborder => "0", :height => "679", :scrolling => "no", :src => "http://virtusweb.wufoo.com/embed/m7x3r3/", :style => "width:100%;border:none"}
  

  .span5
    .contacto
      Dirección:<br/>
      Dr. Carmona y Valle, Número B 124 <br/>
      Edificio Aries Despacho 403<br/>
      Entre Dr. Liceaga y Dr. J. Navarro
      Colonia Doctores<br/> Delegación Cuauhtémoc<br/>
      C.P. 06720 D.F.<br/>
      Tel 5651-3234<br/> 
      e-mail : <a href='mailto:info@corpjuridicoinmobiliario.com.mx'>info@corpjuridicoinmobiliario.com.mx</a><br/>
    .mapa
      %iframe{:frameborder => "0", :height => "300", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com.mx/maps?f=q&source=s_q&hl=es-419&geocode=&q=Dr.+Carmona+y+Valle,+N%C3%BAmero+B124++Colonia+Doctores+Delegaci%C3%B3n+Cuauht%C3%A9moc+C.P.+06720&aq=&sll=19.422523,-99.153049&sspn=0.011636,0.019741&ie=UTF8&hq=&hnear=Doctor+Carmona+y+Valle,+Cuauht%C3%A9moc,+Ciudad+de+M%C3%A9xico,+Distrito+Federal&ll=19.422159,-99.153092&spn=0.011636,0.019741&t=m&z=14&output=embed", :width => "375"}
      %br/
      %small
      %a{:href => "http://maps.google.com.mx/maps?f=q&source=embed&hl=es-419&geocode=&q=Dr.+Carmona+y+Valle,+N%C3%BAmero+B124++Colonia+Doctores+Delegaci%C3%B3n+Cuauht%C3%A9moc+C.P.+06720&aq=&sll=19.422523,-99.153049&sspn=0.011636,0.019741&ie=UTF8&hq=&hnear=Doctor+Carmona+y+Valle,+Cuauht%C3%A9moc,+Ciudad+de+M%C3%A9xico,+Distrito+Federal&ll=19.422159,-99.153092&spn=0.011636,0.019741&t=m&z=14", :style => "color:#0000FF;text-align:left"} Ver mapa más grande
