.row
  .span12.offset1
    .titlep
      DEPARTAMENTO EN REMATE

.row
  .span4.offset1
    %pre.prettyprint.linenums
      .text
        Col.Lomas de Plateros
        Distrito Federal, México
        Delegación Alvaro Obregón
        Carácterísticas
        Construcción:64m2 
        2 recámaras
        1 alcoba
        1 baños
        Sala-Comedor
        Area de lavado
        Cocina
        Mantenimiento : $100.00
        Gas estacionario
        Venta de REMATE : $400,000.00
        UNICAMENTE CONTADO
        %a{:href =>  "/pages/contacto.html"} Clic aquí para mayores informes.

  .span6
    #myGallery.spacegallery
      %img{:alt => "", :src => "/images/venta/plateros2.jpg"}/
      %img{:alt => "", :src => "/images/venta/plateros7.jpg"}/
      %img{:alt => "", :src => "/images/venta/plateros8.jpg"}/
      %img{:alt => "", :src => "/images/venta/plateros9.jpg"}/
    
        
    <br/>
    %a.btn.btn-small.btn-info{:href => "/pages/venta.html"}
      %i.icon-info-sign.icon-white
      Venta de inmuebles

