.row
  .span12.offset1
    .titlep
      DEPARTAMENTO EN VENTA

.row
  .span4.offset1
    %pre.prettyprint.linenums
      .text
        Col.Emiliano Zapata
        Morelos #20, Depto 402
        Distrito Federal, México
        Delegación Coyoacán
        Carácterísticas
        Construcción:65m2 
        2 recámaras
        1 baño
        Sala-Comedor
        Area de lavado
        Cocina
        Interfón
        Mantenimiento : $250.00
        Gas estacionario
        Precio : $950,000.00

        %a{:href =>  "/pages/contacto.html"} Clic aquí para mayores informes.

  .span6
    #myGallery.spacegallery
      %img{:alt => "", :src => "/images/venta/depto coyoacan 1.jpg"}/
      %img{:alt => "", :src => "/images/venta/depto coyoacan 2.jpg"}/
      %img{:alt => "", :src => "/images/venta/depto coyoacan 3.jpg"}/
      %img{:alt => "", :src => "/images/venta/depto coyoacan 5.jpg"}/
      %img{:alt => "", :src => "/images/venta/depto coyoacan 7.jpg"}/
      %img{:alt => "", :src => "/images/venta/depto coyoacan 8.jpg"}/
      %img{:alt => "", :src => "/images/venta/depto coyoacan 9.jpg"}/
      %img{:alt => "", :src => "/images/venta/depto coyoacan 10.jpg"}/
      %img{:alt => "", :src => "/images/venta/depto coyoacan 11.jpg"}/
      %img{:alt => "", :src => "/images/venta/depto coyoacan 12.jpg"}/
      %img{:alt => "", :src => "/images/venta/depto coyoacan 13.jpg"}/  
  
    <br/>
    %a.btn.btn-small.btn-info{:href => "/pages/venta.html"}
      %i.icon-info-sign.icon-white
      Venta de inmuebles

