.row
  .span12.offset1
    .titlep
      DEPARTAMENTO EN VENTA

.row
  .span4.offset1
    %pre.prettyprint.linenums
      .text
        Col.Lomas de Plateros
        Sección H
        Distrito Federal, México
        Delegación Alvaro Obregón
        Carácterísticas
        Construcción:65m2 
        2 recámaras
        1 alcoba
        1 baño completo
        Sala-Comedor
        Area de lavado
        Cocina
        Mantenimiento : $100.00
        Gas natural
        Precio de REMATE: $660,000.00

        %a{:href =>  "/pages/contacto.html"} Clic aquí para mayores informes.

  .span6
    #myGallery.spacegallery
      %img{:alt => "", :src => "/images/venta/plat1.JPG"}/
      %img{:alt => "", :src => "/images/venta/plat2.JPG"}/
      %img{:alt => "", :src => "/images/venta/plat3.JPG"}/
      %img{:alt => "", :src => "/images/venta/plat4.JPG"}/
      %img{:alt => "", :src => "/images/venta/plat5.JPG"}/
      %img{:alt => "", :src => "/images/venta/plat6.JPG"}/
      %img{:alt => "", :src => "/images/venta/plat7.JPG"}/
      %img{:alt => "", :src => "/images/venta/plat8.JPG"}/
      %img{:alt => "", :src => "/images/venta/plat9.JPG"}/
      %img{:alt => "", :src => "/images/venta/plat10.JPG"}/ 
  
    <br/>
    %a.btn.btn-small.btn-info{:href => "/pages/venta.html"}
      %i.icon-info-sign.icon-white
      Venta de inmuebles

