.row
  .span12.offset1
    .titlep
      DEPARTAMENTO EN VENTA

.row
  .span4.offset1
    %pre.prettyprint.linenums
      .text
        Col.Colinas del Sur
        Distrito Federal, México
        Delegación Alvaro Obregón
        Carácterísticas
        Construcción: 64m2
        2 recámaras
        1 baño completo
        Sala-Comedor
        Area de lavado
        Cocina
        Estacionamiento compartido
        Mantenimiento: $250.00
        Gas estacionario
        %a{:href =>  "/pages/contacto.html"} Clic aquí para mayores informes.

  .span6
    #myGallery.spacegallery
      %img{:alt => "", :src => "/images/venta/DEPTOCOLINAS1.jpg"}/
      %img{:alt => "", :src => "/images/venta/DEPTOCOLINAS2.jpg"}/
      %img{:alt => "", :src => "/images/venta/DEPTOCOLINAS3.jpg"}/
      %img{:alt => "", :src => "/images/venta/DEPTOCOLINAS5.jpg"}/
      %img{:alt => "", :src => "/images/venta/DEPTOCOLINAS6.jpg"}/
      %img{:alt => "", :src => "/images/venta/DEPTOCOLINAS4.jpg"}/   
    <br/>
    %a.btn.btn-small.btn-info{:href => "/pages/venta.html"}
      %i.icon-info-sign.icon-white
      Venta de inmuebles

