.row
  .col-md-10.col-md-offset-1
    .titlep
      Servicio a Empresas
.row
  .col-md-5.col-md-offset-1

    .text
      Laboratorios Clínicos Satélite es una empresa consolidada con más de 40 años de generar relaciones exitosas Laboratorio-Empresa con una visión a largo plazo. Ofrecemos un servicio profesional de laboratorio con apoyo diagnostico tales como electrocardiografías, con resultados electrónicos al momento. Además contamos con equipos fijos para Rayos X, Resonancias magnéticas, Ultrasonografías y Densitometrías óseas.<br/>
      <br/> 
      A continuación le mencionaremos brevemente algunos de los beneficios directos que obtendrían con nuestro servicio.<br/>
      %ul
        %li    
          Precios más competitivos y atractivos paquetes con tiempos de entrega de resultados más cortos comparados con laboratorios del mismo nivel.
      %ul
        %li    
          Flexibilidad para la toma de muestras en sus instalaciones en horarios abiertos y la posibilidad de adaptarnos a los turnos existentes en su empresa.
      %ul
        %li 
          Ya no es necesario regresar al Laboratorio para recoger resultados, estos, pueden ser consultados, reenviados e impresos Vía Internet desde la comodidad de su oficina con la ventaja de conservar un archivo histórico de cada uno de sus empleados. Olvídese de conservar archivos en papel, nosotros lo hacemos por usted.
      %ul
        %li    
          La propia empresa puede diseñar sus perfiles de acuerdo a sus necesidades y políticas o a su presupuesto específico y de acuerdo a los requerimientos de sus ejecutivos o empleados.
      %ul
        %li    
          Nuestro personal técnico cuenta con una amplia experiencia en la toma de muestras, en el procesamiento y manejo de grandes volúmenes en empresas logrando una altísima calidad que garantiza a  nuestros clientes un trato muy por encima de lo que conocen.

      

  .col-md-5

    %img{:src => "/images/ini2.png", :alt => "Nosotros"}
    .h4.text-center 
      La misión de Laboratorios Clínicos Satélite es brindar un servicio de excelencia dando a nuestros pacientes una atención de calidad y calidez a través de un contacto personal en todas nuestras áreas.<br/>
      Esperamos contar con su atención y poder ampliar esta información de manera personal.<br/>

      %ul.thumbnails
      %li.span4
        .thumbnail
          %img{:src => "/images/xlab9.png", :alt => "Promoción Mujeres"}
            %h3 Checkup Femenino
            %p - Biometría hemática
            %p - Química sanguínea de 27 elementos
            %p - Examen general de orina
            %p - Papanicolao
            %p - Precio : $850
            %p - Instrucciones : presentarse con un ayuno de 12 horas y la primera orina de la mañana.
    %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal"}
      Launch demo modal
    / Modal
    #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title Modal title
          .modal-body
            \...
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
            %button.btn.btn-primary{type: "button"} Save changes