.row
  .col-md-10.col-md-offset-1
    .titlep
      Pruebas especiales
.row

  .col-md-3.col-md-offset-1
    %img.img-responsive{alt: "Imagen responsive",  src: "/images/labo.jpg"}/
         
    .h5.text-center 
      La misión de Laboratorios Clínicos Satélite es brindar un servicio de excelencia dando a nuestros pacientes una atención de calidad y calidez a través de un contacto personal en todas nuestras áreas.

  .col-md-7
    .text
      Dentro de este apartado se concentra una importante cantidad de estudios que comprenden varias disciplinas. <br/>

      Se consideran como especiales tomando en cuenta la complejidad en su realización (métodos inmunológicos, inmunohistoquimicos, citomorfológicos, genéticos especiales como PCR, FISH ,etc.). Y comprenden estudios de hormonas, marcadores tumorales, estudio morfológico de la medula ósea hematopoyética, electrocardiograma en reposo con interpretación por computadora etc. <br/>

      En algunas ocasiones inclusive, por la especialización que se requiere, se recurre a solicitar apoyos en otras instituciones tanto nacionales como del extranjero.