---
layout: layoutestudios
---
.row
  .col-md-12
    %ul
      %li
        B.A.A.R. EN  EXPECTORACION
      %li        
        B.A.A.R. EN  ORINA
      %li        
        B.A.A.R. EN  ORINA  (  SERIE  DE   3  )
      %li        
        B.A.A.R. EN  ORINA  (  SERIE  DE   5  )
      %li        
        B.A.A.R. EN  ORINA  (  SERIE  DE 10  )
      %li        
        BACTERIOSCOPIA (GRAM)
      %li        
        BARBITURICOS EN ORINA
      %li        
        BENZODIACEPINAS
      %li        
        BETA 2 GLYCOPROTEINA 1
      %li        
        BETA HGC LIBRE (MARCADOR TUMORA)
      %li        
        BILIRRUBINAS
      %li        
        BIOMETRIA  HEMATICA  C / PLAQUETAS
      %li        
        BLASTOS EN SANGRE PERIFERICA
      %li        
        BORDETELLA PERTUSSIS AC. IGG E IGM
      
