---
layout: layoutestudios
---
.row
  .col-md-6
    %ul
      %li
        %a{:href => "/pages/1.html"}25 HIDROXI VITAMINA D
      %li
        A.C.T.H.
      %li
        Ac.  ANTI  MITOCRONDIA
      %li
        Ac.  CELULAS PARIETALES
      %li
        Ac.  CITOMEGALOVIRUS  ( IgM )
      %li
        Ac.  HETEROFILOS  (  PAUL  BUNNEL )
      %li
        Ac. ADENOVIRUS EN SANGRE
      %li
        Ac. AMIBA   EN  SUERO
      %li
        AC. ANTI  ISLOTE DE CELULAS PANCREATICAS
      %li
        Ac. ANTI ADENOVIRUS EN L. C. R
      %li
        AC. ANTI GLIADINA (IGG IGM)
      %li
        AC. ANTI INFLUENZA VIRUS A Y B
      %li
        AC. ANTI MIELOPEROXIDASA
      %li
        AC. ANTI Scl-70
      %li
        AC. ANTI TRANSGLUTAMINASA
      %li
        Ac. BORRELIA BURGDORFERI ( E. LYME ) IgM
      %li
        Ac. CANDIDA ALBICANS IgG, IgM e IgA
      %li
        Ac. CARDIOLIPINAS IgA
      %li
        Ac. CARDIOLIPINAS IgG
      %li
        Ac. CARDIOLIPINAS IgM
      %li
        Ac. CENTROMERO
      %li
        Ac. CHAGAS ( TRYPANOSOMA CRUZI )
      %li
        Ac. CHLAMYDIA TRACHOMATIS IgA, IgG e IgM
      %li
        Ac. CHLAMYDIA TRACHOMATIS IgG
      %li
        Ac. CISTICERCO EN L.C.R.
      %li
        Ac. CISTICERCO EN SANGRE
      %li
        Ac. CITOMEGALOVIRUS ( IgG )
      %li
        Ac. CITOPLASMA DE NEUTROFILO (ANCA)


  .col-md-6
    %ul
      %li
        Ac. CITOPLASMA DE NEUTROFILOS ( cANCA )
      %li
        Ac. CITOPLASMA DE NEUTROFILOS ( cANCA y  pANCA )
      %li
        Ac. CITOPLASMA DE NEUTROFILOS ( pANCA )
      %li
        Ac. CITOPLASMA DE NEUTROFILOS ( TOTALES )
      %li
        Ac. COCCIDIOIDES IMMITIS EN SANGRE ( TOTALES )
      %li
        Ac. COCCIDIOIDES IMMITIS EN SANGRE IgG
      %li
        Ac. COCCIDIOIDES IMMITIS EN SANGRE IgG e IgM
      %li
        Ac. COCCIDIOIDES IMMITIS EN SANGRE IgM
      %li
        Ac. D.N.A
      %li
        Ac. D.N.A  NATIVO ( DNAn )
      %li
        Ac. DECARBOXILASA DEL ACIDO GLUTAMICO
      %li
        Ac. DENGUE ( TOTALES )
      %li
        Ac. DENGUE IgG e IgM
      %li
        Ac. DNA CADENA SANCILLA ( DNAs )
      %li
        Ac. DNA DESNATURALIZADO ( DNAdss )
      %li
        Ac. DNA DOBLE CADENA ( DNAds )
      %li
        Ac. E.N.A
      %li
        Ac. ENDOMYSIALES
      %li
        Ac. ENFERMEDAD CELIACA
      %li
        Ac. EPSTEIN BARR CAPSIDE IgM
      %li
        Ac. H.I.V  I ( WESTERN  BLOT)
      %li
        AC. HAEMOPHILUS INFLUENZAE B
      %li
        Ac. HELICOBACTER PYLORI ( IgG )
      %li
        Ac. HELICOBACTER PYLORI IgG, IgM
      %li
        Ac. HELICOBACTER PYLORI IgM
      %li
        Ac. HERPES I ( IgG )
      %li
        Ac. HERPES I (IgM)
      %li
        Ac. HERPES II (IgG)
      %li
        Ac. HERPES II (IgM)
      %li
        Ac. HERPES ZOSTER ( VARICELA ) IgG
      %li
        Ac. HERPES ZOSTER ( VARICELA ) IgM
      %li
        Ac. HISTONAS
      %li
        Ac. HISTOPLASMA CAPSULATUM EN L.C.R. ( CF )
      %li
        Ac. HISTOPLASMA CAPSULATUM EN SANGRE ( CF )
      %li
        Ac. HIV POR ELISA ( PRESUNTIVA )
      %li
        Ac. INSULINA ( IAA )
      %li
        Ac. IRREGULARES
      %li
        Ac. MEMBRANA BASAL
      %li
        AC. MITOCONDRIALES
      %li
        Ac. MUSCULO ESTRIADO
      %li
        Ac. MUSCULO LISO
      %li
        Ac. MYCOBACTERIUM TUBERCULOSO TOTALES
      %li
        Ac. MYCOPLASMA PNEUMONIAE ( IgG)
      %li
        AC. MYCOSPLASMA PNEUMONIAE (IGG, IGM)
      %li
        Ac. NUCLEARES ( ANA ) DNA, RNA
      %li
        Ac. PAROTIDITIS IgG
      %li
        Ac. PARVOVIRUS B19 ( EIA) IgG,IgM
      %li
        Ac. PEROXIDASA (MICROSOMALES)
      %li
        Ac. PLAQUETAS
      %li
        Ac. R.N.A.
      %li
        Ac. R.N.P.
      %li
        Ac. RUBEOLA ( IgG )
      %li
        Ac. RUBEOLA ( IgM )
      %li
        Ac. SARAMPION ( IgG )
      %li
        Ac. SARAMPION ( IgM )
      %li
        Ac. SMITH ( Sm )
      %li
        Ac. SSA ( Ro )
      %li
        Ac. SSB ( La )
      %li
        Ac. TETANOS (TOXOIDE)
      %li
        Ac. TIROGLOBULINA
      %li
        Ac. TIROIDEOS ( TIROGLOB, PEROXIDASA )
      %li
        Ac. TOXOPLASMA (  IgG )
      %li
        Ac. TOXOPLASMA ( IgM )
      %li
        Ac. TREPONEMICOS  (  T.P.H.A.  )
      %li
        Ac. TREPONEMICOS (T.P.H.A.)
      %li
        Ac.BLOQUEADORES AL FACTOR INTRINSECO
      %li
        Ac.FOSFOLIPIDOS(CARDIOLIPINAS Y A.LUPICO)
      %li
        Ac.HERPES ZOSTER ( VARICELA)  IgG e IgM
      %li
        ACETAMINOFEN ( PARACETAMOL )
      %li
        ACETONA EN SANGRE
      %li
        ACIDO - 5 - HIDROXIINDOLACETICO (METAB.SEROTONINA)
      %li
        ACIDO DELTA  AMINOLEVULINICO (DALA)
      %li
        ACIDO FOLICO  (FOLATOS)
      %li
        ACIDO FOLICO ERITROCITICO
      %li
        ACIDO LACTICO (LACTATO)
      %li
        ACIDO URICO EN ORINA
      %li
        ACIDO URICO EN SANGRE
      %li
        ACIDO VALPROICO
      %li
        ACIDO VANIL MANDELICO EN ORINA
      %li
        ACIDO VANIL MANDELICO EN SANGRE
      %li
        ACIDOS GRASOS NO ESTERIFICADOS
      %li
        ACTIVIDAD TRIPTICA  EN  HECES
      %li
        ADDIS (CUENTA DE)
      %li
        ADENOVIRUS, ANTIGENO DE (DETECCION)
      %li
        AG. GIARDIA LAMBLIA
      %li
        AG. HAEMOPHILUS INFLUENZAE B
      %li
        ALBUMINA EN ORINA
      %li
        ALBUMINA EN SANGRE
      %li
        ALCOHOL ( ETANOL ) EN ORINA
      %li
        ALDOLASA
      %li
        ALDOSTERONA SERICA
      %li
        ALDOSTERONA URINARIA
      %li
        ALERGENO INDIVIDUAL
      %li
        ALFA FETOPROTEINA
      %li
        ALFA HIDROXI PROGESTERONA 17
      %li
        ALFA I ANTITRIPSINA
      %li
        ALUMINIO EN SANGRE
      %li
        AMIBA EN FRESCO
      %li
        AMIBA EN FRESCO  (3)
      %li
        AMILASA EN ORINA
      %li
        AMILASA EN SANGRE
      %li
        AMINOFILINA
      %li
        AMONIO EN SANGRE
      %li
        ANDROSTENEDIONA
      %li
        ANFETAMINAS
      %li
        ANGIOTENSINA  II
      %li
        ANGIOTENSINA I
      %li
        ANTI TROMBINA III
      %li
        ANTICOAGULANTE LUPICO
      %li
        ANTIESTREPTOLISINAS
      %li
        ANTIGENO CARCINOEMBRIONARIO
      %li
        ANTIGENO DE AMIBA (DETECCION EN HECES)
      %li
        ANTIGENO DE HELICOBACTER PYLORI (DETECT. HECES)
      %li
        ANTIGENO DE INFLUENZA A Y B
      %li
        ANTIGENO DE ROTAVIRUS (DETECT. EN HECES)
      %li
        ANTIGENO ESPECIFICO PROSTATICO
      %li
        ANTIGENO ESPECIFICO PROSTATICO LIBRE
      %li
        ANTIGENO HLA B27
      %li
        ANTIGENO TUMORAL VESICAL
      %li
        APOLIPOPROTEINAS A1 Y B
      %li
        ARSENICO EN ORINA
      %li
        AZUCARES REDUCTORES EN HECES
