---
layout: layoutestudios
---
.row
  .col-md-6

    #accordion.panel-group
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
              CA  125

        #collapseOne.panel-collapse.collapse
          .panel-body
            Instrucciones de paciente : presentarse con un ayuno de 12 horas
            Días entrega : 2 días
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTwo"}
              CALCIO EN ORINA
        #collapseTwo.panel-collapse.collapse
          .panel-body
            Instrucciones de paciente : presentarse con un ayuno de 12 horas
            Días entrega : 2 días
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThree"}
              CALCITONINA
        #collapseThree.panel-collapse.collapse
          .panel-body
            Instrucciones de paciente : presentarse con un ayuno de 12 horas
            Días entrega : 2 días


      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
              CREATININA EN ORINA


        #collapseFour.panel-collapse.collapse
          .panel-body
            Instrucciones de paciente : presentarse con un ayuno de 12 horas
            Días entrega : 2 días
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTwo"}
              CREATININA EN SANGRE
        
        #collapseFive.panel-collapse.collapse
          .panel-body
            Instrucciones de paciente : presentarse con un ayuno de 12 horas
            Días entrega : 2 días
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThree"}
              CROMO EN SANGRE
        #collapseSix.panel-collapse.collapse
          .panel-body
            Instrucciones de paciente : presentarse con un ayuno de 12 horas
            Días entrega : 2 días