---
layout: layoutestudios
---
.row
  .col-md-12
    %img.img-responsive{alt: "Imagen responsive",  src: "/images/labo10.jpg"}/
    <br/>
.row
  .col-md-12
    %img.img-responsive{alt: "Imagen responsive",  src: "/images/labo1.jpg"}/
    
    <br/>
.row
  .col-md-12
    %img.img-responsive{alt: "Imagen responsive",  src: "/images/labo6.jpg"}/
    