.row
  .col-md-10.col-md-offset-1
    .titlep
      Genética
.row

  .col-md-3.col-md-offset-1
    %img.img-responsive{alt: "Imagen responsive",  src: "/images/labo.jpg"}/
         
    .h5.text-center 
      La misión de Laboratorios Clínicos Satélite es brindar un servicio de excelencia dando a nuestros pacientes una atención de calidad y calidez a través de un contacto personal en todas nuestras áreas.

  .col-md-7
    .text
      La genética es el campo de la biología que busca comprender la herencia biológica que se transmite de generación en generación ( o como mutaciones ), encaminándose a la identificación de posibles alteraciones cromosómicas que se traducen en diversas enfermedades o condiciones predisponentes a diversas patologías.