.row
  .col-md-10.col-md-offset-1
    .titlep
      Hematología
.row

  .col-md-3.col-md-offset-1
    %img.img-responsive{alt: "Imagen responsive",  src: "/images/labo.jpg"}/
         
    .h5.text-center 
      La misión de Laboratorios Clínicos Satélite es brindar un servicio de excelencia dando a nuestros pacientes una atención de calidad y calidez a través de un contacto personal en todas nuestras áreas.

  .col-md-7
    .text
      En esta Área nos encargamos del estudio de los elementos formes de la sangre y sus precursores, así como de los trastornos estructurales y bioquímicos de estos elementos, que puedan conducir a una enfermedad, mediante el estudio de la etiología, diagnóstico, tratamiento, pronóstico y prevención de las enfermedades de la sangre y órganos hemolinfoproductores, dichas pruebas se realizan con la experiencia y criterio de personal altamente calificado; además de contamos con equipos totalmente automatizados con control de calidad interno y externo, en los cuales se realiza la Citología Hemática mejor conocida como Biometría Hemática que esta constituida por:<br/>
        
    .text
      %ul
        %li 
          Recuento de eritrocitos (y valor de hematocrito)
        %li 
          Recuento de leucocitos
        %li
          Determinación de hemoglobina
        %li
          Velocidad de sedimentación globular (VSG)       
        %li
          Fórmula leucocitaria (recuento diferencial de leucocitos)
      
      Cuando se encuentra alguna enfermedad hematológica afectan la producción de sangre y sus componentes, así como también el mecanismo de coagulación
          
        