.row
  .col-md-10.col-md-offset-1
    .titlep
      Inmunología
.row

  .col-md-3.col-md-offset-1
    %img.img-responsive{alt: "Imagen responsive",  src: "/images/labo.jpg"}/
         
    .h5.text-center 
      La misión de Laboratorios Clínicos Satélite es brindar un servicio de excelencia dando a nuestros pacientes una atención de calidad y calidez a través de un contacto personal en todas nuestras áreas.

  .col-md-7
    .text
      Esta área se ocupa del estudio del sistema inmunitario, entendiendo como tal al conjunto de órganos, tejidos y células que tienen como función reconocer elementos ajenos al organismo dando una respuesta a base de anticuerpos detectados en la sangre (respuesta inmunitaria).<br/>

      Trata, entre otras cosas, el funcionamiento fisiológico del sistema inmunitario tanto en estados de salud como de enfermedad; las alteraciones en las funciones del sistema inmunitario (enfermedades autoinmunitarias, hipersensibilidades, inmunodeficiencias, rechazo a los trasplantes); las características físicas, químicas y fisiológicas de los componentes del sistema inmunitario in vitro, in situ, e in vivo.