.row
  .span10.offset1
    .titlep
      Remates Judiciales 2013 Estado de México
      %a{:href =>  "/pages/listadorematesdf.html"} (Ver propiedades Distrito Federal)

.row
  .span12
    %iframe{:allowTransparency => "allowtransparency", :frameborder => "0", :height => "500", :scrolling => "no", :src => "/pages/LISTADO  DE REMATES EDO MEX.pdf", :style => "width:100%;border:none"}


  