#tit
  Remates Judiciales
#parrafo
  Para mayor información sobre el procedimiento de adjudicación de alguno de los siguientes inmuebles, lo invitamos a contactarnos al teléfono 5651-3234 o escribanos en nuestra <a href='contacto'>FORMA DE CONTACTO

%iframe{:frameborder => "1", :height => "200px", :scrolling => "auto", :src => "/pix/milford_sound/milford_sound_t.jpg", :width => "920px"}
  / This bit is only viewed by browsers that don't support inline frames
  Your browser doesn't support inline frames.
