.row
  
  .span4.offset1
    %a{:href => "/pages/remates.html"}
      <br/>
      <br/>
      %img{:src => "/images/remates.png", :alt => "Materia Familiar"}/ 
  .span4.offset1
    .titlep
      Listados de Remates Judiciales<br/>
    .text
      Aquí encontrará los listados de Remates Judiciales vigentes.<br/>
    .hero-unit
                        
      
      %a{:href => "/pages/REMATES JUDICIALES DEL 14 AL 18 DE ENERO.pdf"}REMATES DEL 14 AL 18 DE ENERO 2013<br/>
      <br/>
      %a{:href => "/pages/LISTADO REMATES JUDICIALES DEL 21 AL 25 DE ENERO..pdf"}REMATES DEL 21 AL 25 DE ENERO 2013<br/>
      <br/>
      %a{:href => "/pages/LISTADO REMATES JUDICIALES DEL 28 AL 1 DE FEBRERO.pdf"} REMATES DEL 28 DE ENERO AL 1 DE FEBRERO 2013<br/>
      <br/>
      %a{:href => "/pages/LISTA DE REMATES DEL 05 AL 08 DE FEBRERO 2013.pdf"} REMATES DEL 5 AL 8 DE FEBRERO 2013<br/>
      <br/>
