.row
  .span12
    %iframe{:allowTransparency => "true", :frameborder => "0", :height => "500", :scrolling => "no", :src => "/pages/LISTADO REMATES JUDICIALES 2013.pdf", :style => "width:100%;border:none"}
  
