.row
  
  .span4.offset1
    %a{:href => "/pages/remates.html"}
      <br/>
      <br/>
      %img{:src => "/images/remates.png", :alt => "Materia Familiar"}/ 
  .span4.offset1
    .titlep
      Listados de Remates Judiciales<br/>
    .text
      Aquí encontrará los listados de Remates Judiciales vigentes.<br/>
    .hero-unit
      
      %a{:href => "/pages/LISTADO REMATES JUDICIALES DEL 28 AL 1 DE FEBRERO.pdf"} REMATES DEL 28 DE ENERO AL 1 DE FEBRERO 2013<br/>
      <br/>
      %a{:href => "/pages/LISTA DE REMATES DEL 05 AL 08 DE FEBRERO 2013.pdf"} REMATES DEL 5 AL 8 DE FEBRERO 2013<br/>
      <br/>
      %a{:href => "/pages/LISTA REMATES DEL 11 AL 15 DE FEBRERO DEL 2013.pdf"}REMATES DEL 11 AL 15 DE FEBRERO DEL 2013<br/>
      <br/>
      %a{:href => "/pages/LISTADO DE REMATES  DEL 18 AL 22 DE FEBRERO 2013.pdf"}REMATES DEL 18 AL 22 DE FEBREO 2013<br/>
      <br/>