.row
  .span10.offset1
    .titlep
      Remates Judiciales 2013 Distrito Federal
      %a{:href =>  "/pages/listadorematesmex.html"} (Ver propiedades Estado de México)
.row
  .span12
    %iframe{:allowTransparency => "allowtransparency", :frameborder => "0", :height => "500", :scrolling => "no", :src => "/pages/LISTADO  DE REMATES DF.pdf", :style => "width:100%;border:none"}


  