.row
  
  .span4.offset1
    %a{:href => "/pages/remates.html"}
      <br/>
      <br/>
      %img{:src => "/images/remates.png", :alt => "Materia Familiar"}/ 
  .span4.offset1
    .titlep
      Listados de Remates Judiciales<br/>
    .text
      Aquí encontrará los listados de Remates Judiciales vigentes.<br/>
    .hero-unit
      %a{:href => "/pages/remates 22 de octubre.pdf"}REMATES DEL 22 AL 26 DE OCTUBRE<br/>
      <br/>
      %a{:href => "/pages/REMATES DEL 29 AL 31 DE OCTUBRE.pdf"}REMATES DEL 29 AL 31 DE OCTUBRE<br/>
      <br/>
      %a{:href => "/pages/REMATES DEL 5 AL 9 DE NOVIEMBRE.pdf"} REMATES DEL 5 AL 9 DE NOVIEMBRE<br/>
      <br/>
      %a{:href => "/pages/REMATES DEL 12 AL 16 DE NOVIEMBRE.pdf"} REMATES DEL 12 AL 16 DE NOVIEMBRE<br/>
      <br/>
      %a{:href => "/pages/REMATES DEL 20 AL 23 DE NOVIEMBRE.pdf"} REMATES DEL 20 AL 23 DE NOVIEMBRE<br/>


