.row
  .span4.offset1
    %img{:src => "/images/remates.png", :alt => "Remates Judiciales"}/ 



  .span6
    .titlep
      LISTADOS DE REMATES JUDICIALES 2013
      <br/>
    .text  
      Aquí encontrará los listados de propiedades en remate Judicial disponibles tanto en el Distrito Federal como en el Estado de México, estos listados se actualizan en forma semanal. 
      <br/>
      <br/>

      %a.btn.btn-small.btn-info{:href => "/pages/listadorematesdf.html"}
        Ver Listado Distrito Federal
      %a{:href =>  "/pages/LISTADO  DE REMATES DF.pdf"} Descargar Archivo PDF
      <br/>
      <br/>
      %a.btn.btn-small.btn-info{:href => "/pages/listadorematesmex.html"}
        Ver Listado Estado de México
      %a{:href =>  "/pages/LISTADO  DE REMATES EDO MEX.pdf"} Descargar Archivo PDF

  