.row
  .span12.offset1
    .titlep
      LOCAL EN RENTA
.row
  .span4.offset1
    %pre.prettyprint.linenums
      .text
        Col. Merced Gomez
        Centenario # 88
        Distrito Federal, México
        Delegación Alvaro Obregón
        Carácterísticas
        Local Comercial
        Construcción : 40m2
        1/2 baños
        Doble cortina
        Antes ocupado por papelería
        Precio Renta : $9,000.00
        %a{:href =>  "/pages/contacto.html"} Clic aquí para mayores informes.

       
  .span6
    #myGallery.spacegallery
      %img{:alt => "", :src => "/images/venta/local7.JPG"}/
      %img{:alt => "", :src => "/images/venta/local2.JPG"}/
      %img{:alt => "", :src => "/images/venta/local3.JPG"}/
      %img{:alt => "", :src => "/images/venta/local4.JPG"}/
      %img{:alt => "", :src => "/images/venta/local5.JPG"}/
      %img{:alt => "", :src => "/images/venta/local6.JPG"}/
      %img{:alt => "", :src => "/images/venta/local1.JPG"}/   

    <br/>
    %a.btn.btn-small.btn-info{:href => "/pages/renta.html"}
      %i.icon-info-sign.icon-white
      Renta de inmuebles

