.row
  .span12.offset1
    .titlep
      LOCAL EN RENTA
.row
  .span4.offset1
    %pre.prettyprint.linenums
      .text
        Col. Alfonso XIII
        Sasso Ferrato # 9
        Distrito Federal, México
        Delegación Alvaro Obregón
        Carácterísticas
        Local Comercial
        Construcción : 100m2
        2 baños
        Doble cortina
        Excelente Ubicación
        Precio Renta : $13,000.00
        %a{:href =>  "/pages/contacto.html"} Clic aquí para mayores informes.

       
  .span6
    #myGallery.spacegallery

      %img{:alt => "", :src => "/images/venta/loc2.JPG"}/
      %img{:alt => "", :src => "/images/venta/loc3.JPG"}/
      %img{:alt => "", :src => "/images/venta/loc4.JPG"}/
      %img{:alt => "", :src => "/images/venta/loc5.JPG"}/
      %img{:alt => "", :src => "/images/venta/loc6.JPG"}/
      %img{:alt => "", :src => "/images/venta/loc7.JPG"}/    
      %img{:alt => "", :src => "/images/venta/loc8.JPG"}/
      %img{:alt => "", :src => "/images/venta/loc9.JPG"}/
      %img{:alt => "", :src => "/images/venta/loc10.JPG"}/ 
    <br/>
    %a.btn.btn-small.btn-info{:href => "/pages/renta.html"}
      %i.icon-info-sign.icon-white
      Renta de inmuebles

