.row
  .col-md-10.col-md-offset-1
    .titlep
      Microbiología Clínica
.row

  .col-md-3.col-md-offset-1
    %img.img-responsive{alt: "Imagen responsive",  src: "/images/labo.jpg"}/
         
    .h5.text-center 
      La misión de Laboratorios Clínicos Satélite es brindar un servicio de excelencia dando a nuestros pacientes una atención de calidad y calidez a través de un contacto personal en todas nuestras áreas.

  .col-md-7
    .text
      La microbiología sanitaria estudia a los microorganismos de interés en el agua y alimentos, así como los factores ecológicos que determinan su sobrevivencia, crecimiento e inactivación. <br/>

      El tipo de microorganismo que se identifique en un producto por medio de cultivos diversos ( agua, alimentos, etc. ) dependerá de la forma en que estos se han elaborado, transportado, almacenado, manejado o preparado para su consumo. 
      <br/>
      El garantizar la inocuidad de los alimentos tiene impacto a nivel individual y colectivo; en aspectos económicos, sociales y sanitarios y representa un tema de interés en Salud Pública. 
