.row
  .col-md-10.col-md-offset-1
    .titlep
      ¿Quienes somos?
.row
  .col-md-5.col-md-offset-1

    .text
      Laboratorios Clínicos Satélite somos una empresa con más de 40 años de experiencia cuya actividad más importante es realizar estudios de laboratorio clínico necesarios para conservar la salud de sus pacientes y abarcamos los campos de prevención, diagnóstico y evaluación del tratamiento.<br/>
      Las áreas con las que contamos son :

  
    .text
      %ul
        %li 
          %a{:href =>  "/pages/hematologia.html"}Hematología.
        %li 
          %a{:href =>  "/pages/quimica.html"}Química Clínica.
        %li
          %a{:href =>  "/pages/inmunologia.html"} Inmunología.
        %li
          %a{:href =>  "/pages/parasitologia.html"} Parasitología.          
        %li
          %a{:href =>  "/pages/bclinica.html"} Bacteriología Clínica.
        %li
          %a{:href =>  "/pages/microbiologia.html"} Microbiología Sanitaria.
        %li
          %a{:href =>  "/pages/genetica.html"} Genética.
        %li
          %a{:href =>  "/pages/especiales.html"} Pruebas especiales.
        %li
          %a{:href =>  "/pages/anatomia.html"} Anatomía Patológica.          
      <br/>
      Si requiere estudios de Rayos X visite Centro de Imagenología que se encuentra a un costado de Laboratorios Clínicos Satélte.
      %a{:href =>  "http://www.centrodeimagenologia.com/",  :target => "blank"} Centro de Imagenología

          
        
  .col-md-5

    %img{:src => "/images/labo.jpg", :alt => "Nosotros"}
    .h4.text-center 
      La misión de Laboratorios Clínicos Satélite es brindar un servicio de excelencia dando a nuestros pacientes una atención de calidad y calidez a través de un contacto personal en todas nuestras áreas.

