.row
  .span12.offset1
    .titlep
      ¿Quienes somos?
.row
  .span5.offset1
    .text
      Nuestro equipo se encuentra encabezado por el Lic. Miguel Angel García González, quien es egresado de la Universidad Nacional Autónoma de México, siendo socio activo de la Asociación de Abogados Litigantes de México, A.C. y en su trayectoria laboral se ha dedicado al litigo y a la venta y renta de bienes inmuebles, contando el despacho con especialistas en cada rama del derecho así como con Profesionales Inmobiliarios.<br/>
      En materia Jurídica nuestro Corporativo se especializa en los siguientes rubros:
  
    .text
      %ul
        %li Materia Civil.
        %li Materia Familiar.
        %li Materia Mercantil.
        %li Materia Laboral.
        %li Remates Judiciales

  .span5
    %img{:src => "/images/nosotro.png", :alt => "Nosotros"}
    .text 
    .text
      En el Area Inmobiliaria ofrecemos nuestros servicios con el objetivo de comercializar la propiedad en el menor tiempo posible y al mejor precio en beneficio de Usted.

      

