.row
  .col-md-10.col-md-offset-1
    .titlep
      Parasitología
.row

  .col-md-3.col-md-offset-1
    %img.img-responsive{alt: "Imagen responsive",  src: "/images/labo.jpg"}/
         
    .h5.text-center 
      La misión de Laboratorios Clínicos Satélite es brindar un servicio de excelencia dando a nuestros pacientes una atención de calidad y calidez a través de un contacto personal en todas nuestras áreas.

  .col-md-7
    .text
      En esta area por un lado, estudiamos a los organismos vivos parásitos, y la relación de ellos con sus hospedadores y el medio ambiente.<br/>
      Convencionalmente, se ocupa sólo de los parásitos como son los protozoos, helmintos (trematodos, cestodos, nematodos) y artrópodos. <br/>
      Tradicionalmente estudia las parasitosis o enfermedades causadas en el hombre, por los organismos parásitos fundamentalmente a nivel del tracto digestivo.