.row
  .span12.offset1
    .titlep
      Aviso de privacidad
.row
  .span10.offset1
    .text
      Laboratorios Clínicos Satélite con domicilio en Federico T. de la Chica # 2 Edificio Zurich Loc 3 Cd. Satélite, Naucalpan, México, C.P. 53100 es responsable de recabar sus datos personales, del uso que se le de a los mismos así como de su protección.<br/>
      Recabamos sus datos personales de forma directa cuando usted mismo nos los proporciona al momento de registrase como paciente en nuestro sistema con el fin de solicitar que le realicen algún tipo de análisis clínico<br/>
      <br/>
      Sus datos personales serán utilizados para las siguientes finalidades:<br/>
      <br/>
      Para registro de pacientes,reporte de resultados, facturación electrónica, envío de resultados vía correo electrónico y envío de información de promociones por medio de correo electrónico.<br/>
      <br/>
      Para las finalidades señaladas en el presente aviso de privacidad, podemos recabar sus datos personales como:<br/>
      Nombre.<br/>
      Apellido Paterno.<br/>
      Apellido Materno.<br/>
      Teléfono.<br/>
      E-mail.<br/>
      RFC.<br/>
      Edad.<br/>
      Sexo.<br/>
      Estado Civil.<br/>
      <br/>
      Le informamos que para cumplir con las finalidades previstas en este aviso de
      privacidad, NO serán recabados y tratados datos personales sensibles, como
      aquéllos que refieren a información financiera básica.<br/>
      <br/>
      Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así
      como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado, a través de los procedimientos que hemos implementado. Para conocer dichos procedimientos, los requisitos y plazos, se puede poner en contacto con nuestro departamento de datos personales en <br/>
      Federico T. de la Chica # 2 Edificio Zurich Loc 3 Cd. Satélite,<br/>
      Naucalpan, México, C.P. 53100, al teléfono 53938989 <br/>
      o al correo electrónico satelite@lvlaboratorios.com.mx.<br/>
      <br/>
      Si usted desea dejar de recibir mensajes promocionales de nuestra parte, puede
      solicitarlo a través del teléfono 53938989 o al correo electrónico satelite@lvlaboratorios.com.mx, o en el siguiente domicilio Federico T. de la Chica # 2 Edificio Zurich Loc 3 Cd. Satélite, Naucalpan, México, C.P. 53100.<br/>
      <br/>
      Fecha última actualización Enero 15, 2013 12:25 hrs