.row
  .span12.offset1
    .titlep
      PROCEDIMIENTO DE REMATES JUDICIALES.
.row
  .span10.offset1
    .text
      1.- El Juez ordena la publicación del Edicto mediante el cual se convoca a postores para llevar a cabo la Venta Judicial de determinado bien inmueble, esta venta es de riguroso contado no se admiten créditos y los inmuebles no se pueden ver por dentro ya que están ocupados por los deudores.<br/>
      <br/>
      2.- Para saber que inmuebles se van a rematar le hacemos llegar sin costo un listado de propiedades cada lunes para que elijan algún inmueble.<br/>
      <br/>
      3.- Una vez que se ha elegido un inmueble uno de nuestros abogados especializados acude al Juzgado para checar que el expediente este bien conformado y que todo esté en orden para la audiencia de remate, antes de hacer la revisión del expediente se procede a firmar el Contrato de Prestación de Servicios Profesionales debiéndose pagar como anticipo de honorarios la cantidad de $3,500.00 (TRES MIL QUINIENTOS PESOS 00/100 M.N.) más I.VA.<br/>
      <br/>
      La venta de los inmuebles puede ser en primera audiencia de remate con un descuento de las dos terceras partes sobre el avalúo, en segunda audiencia con un descuento adicional del 20% y en tercera audiencia sin sujeción a tipo esto es se puede ofrecer una cantidad mucho menor por el inmueble.<br/>
      <br/>
      Por lo general los inmuebles se adquieren mínimo en un 30% por debajo de su valor comercial.<br/>
      <br/>
      4.- Para comparecer a la audiencia de remate es necesario exhibir ante el Juzgado respectivo un Billete de Depósito por el equivalente al 10% del avalúo, en éste trámite nosotros lo acompañamos para comprarlo en Bansefi.<br/>
      <br/>
      En caso de no adjudicarnos el inmueble el Juez ordena la devolución del Billete de Deposito sin ningún descuento y se le continúa enviando al cliente el listado para que elija un nuevo inmueble esto sin ningún costo adicional, teniendo derecho a que se cheque en Juzgados el inmueble que seleccione .<br/>
      <br/>
      5.- Si en la audiencia de remate el inmueble es adjudicado a nuestro favor el Juez da un término no menor a tres días para exhibir mediante Billete de Depósito el 90% restante con la sanción de perder el 10% en caso de no pagar el resto.<br/>
      <br/>
      6.- Puede darse la situación de que a la audiencia de remate comparezcan varios postores siendo el caso que en la práctica todos los postores se ponen de acuerdo para que sólo uno comparezca como postor con la finalidad de no elevar el precio a pagar por el inmueble, en este supuesto si nosotros nos retiramos podemos obtener un pago por retirarnos en este caso la cantidad recibida por el cliente se dividirá pagando a su servidor un 30% de la cantidad recibida independientemente a los honorarios.<br/>
      <br/>
      Si somos nosotros los que nos quedamos en la audiencia debemos pagar a los demás postores para que se retiren y seamos nosotros los que nos adjudiquemos la propiedad, este pago se hará únicamente si el Juez aprueba el remate.<br/>
      <br/>
      Previamente a la audiencia de remate se hace un estudio de la propiedad a adjudicar para saber cuál es la ganancia a favor del cliente y saber si es el caso cuanto se les puede ofrecer a los postores para que se retiren.<br/>
      <br/>
      También hay audiencias en las cuales sólo va un postor o ninguno.<br/>
      <br/>
      7.- Una vez que se adjudica la propiedad se procede a designar Notario Público para que elabore las escrituras respectivas en el entendido que si el demandado en el juicio no firma las mismas el Juez lo hará en su rebeldía.<br/>
      <br/>
      8.- Posteriormente una vez que ya se cuenta con las escrituras se pide al Juez que nos de la posesión del inmueble expidiendo una orden de lanzamiento en contra del demandado quien ya ha sido oído y vencido en juicio, este trámite se realiza sin ningún costo adicional para el cliente.<br/>
      <br/>
      9.- Será a cargo del cliente el pago de las escrituras e impuestos respectivos que determine el Notario así como el pago de adeudos que tenga el bien adjudicado como son el predial, agua y mantenimiento los gastos por concepto de lanzamiento se encuentran incluidos en nuestros honorarios.<br/>
      
      <br/>
      Para Información sobre nuestros honorarios lo invitamos a ponerse en contacto con nosotros.
      <br/>
      Sin más por el momento quedo a sus órdenes para cualquier aclaración o comentario.<br/>
      <br/>
      Si Usted lo desea podemos concertar una cita en nuestras oficinas para aclararle cualquier duda que le pudiera surgir.<br/>  Póngase en contacto con nosotros al teléfono 5651-3234 o llene nuestra <a href='/pages/contacto.html'>FORMA DE CONTACTO.      
