.row
  .col-md-10.col-md-offset-1
    .titlep
      Promociones

.row
  .col-md-5.col-md-offset-1
    %ul.thumbnails
      %li.span4
        .thumbnail
          %img{:src => "/images/xlab9.png", :alt => "Promoción Mujeres"}
            %h3 Checkup Femenino
            %p - Biometría hemática
            %p - Química sanguínea de 27 elementos
            %p - Examen general de orina
            %p - Papanicolao
            %p - Precio : $850
            %p - Instrucciones : presentarse con un ayuno de 12 horas y la primera orina de la mañana.
  .col-md-5

    %ul.thumbnails
      %li.span4
        .thumbnail
          %img{:src => "/images/xlab4.png", :alt => "Promoción Mujeres"}
          %h3 Checkup Femenino
          %p - Biometría hemática
          %p - Química sanguínea de 27 elementos
          %p - Precio : $850
          %p - Instrucciones : presentarse con un ayuno de 12 horas y la primera orina de la mañana.
      

.row
  .col-md-5.col-md-offset-1
    %ul.thumbnails
      %li.span4
        .thumbnail
          %img{:src => "/images/xlab2.png", :alt => "Promoción Mujeres"}
          %h3 Checkup Femenino
          %p - Biometría hemática
          %p - Química sanguínea de 27 elementos
          %p - Examen general de orina
          %p - Papanicolao
          %p - Precio : $850
          %p - Instrucciones : presentarse con un ayuno de 12 horas y la primera orina de la mañana.
  .col-md-5
    %ul.thumbnails
      %li.span4
        .thumbnail
          %img{:src => "/images/xlab3.png", :alt => "Promoción Mujeres"}
          %h3 Checkup Femenino
          %p - Biometría hemática
          %p - Química sanguínea de 27 elementos
          %p - Examen general de orina
          %p - Papanicolao
          %p - Precio : $850
          %p - Instrucciones : presentarse con un ayuno de 12 horas y la primera orina de la mañana.
      
  .row
    .col-md-5.col-md-offset-1
      %ul.thumbnails
        %li.span4
          .thumbnail
            %img{:src => "/images/xlab4.png", :alt => "Promoción Mujeres"}
            %h3 Checkup Femenino
            %p - Biometría hemática
            %p - Química sanguínea de 27 elementos
            %p - Examen general de orina
            %p - Papanicolao
            %p - Precio : $850
            %p - Instrucciones : presentarse con un ayuno de 12 horas y la primera orina de la mañana.
    .col-md-5
      %ul.thumbnails
        %li.span4
          .thumbnail
            %img{:src => "/images/xlab5.png", :alt => "Promoción Mujeres"}
            %h3 Checkup Femenino
            %p - Biometría hemática
            %p - Química sanguínea de 27 elementos
            %p - Examen general de orina
            %p - Papanicolao
            %p - Precio : $850
            %p - Instrucciones : presentarse con un ayuno de 12 horas y la primera orina de la mañana.
        
  .row
  .col-md-5.col-md-offset-1
    %ul.thumbnails
      %li.span4
        .thumbnail
          %img{:src => "/images/xlab6.png", :alt => "Promoción Mujeres"}
          %h3 Checkup Femenino
          %p - Biometría hemática
          %p - Química sanguínea de 27 elementos
          %p - Examen general de orina
          %p - Papanicolao
          %p - Precio : $850
          %p - Instrucciones : presentarse con un ayuno de 12 horas y la primera orina de la mañana.
  .col-md-5
    %ul.thumbnails
      %li.span4
        .thumbnail
          %img{:src => "/images/xlab7.png", :alt => "Promoción Mujeres"}
          %h3 Checkup Femenino
          %p - Biometría hemática
          %p - Química sanguínea de 27 elementos
          %p - Examen general de orina
          %p - Papanicolao
          %p - Precio : $850
          %p - Instrucciones : presentarse con un ayuno de 12 horas y la primera orina de la mañana.
      
  

  
.row
  .col-md-10.col-md-offset-1    
    .text 
      Para mayor información de alguna de estas promociones lo invitamos a ponerse en contacto con nosotros al teléfono 5393-8989 / 5393-8999o llene nuestra <a href='/pages/contacto.html'>FORMA DE CONTACTO.
