.row
  .col-md-10.col-md-offset-1
    .titlep
      Química Clínica
.row

  .col-md-3.col-md-offset-1
    %img.img-responsive{alt: "Imagen responsive",  src: "/images/labo.jpg"}/
    
    .h5.text-center 
      La misión de Laboratorios Clínicos Satélite es brindar un servicio de excelencia dando a nuestros pacientes una atención de calidad y calidez a través de un contacto personal en todas nuestras áreas.

  .col-md-7
    .text         
    
      Esta área esta dedicada al estudio in vitro ( Química Sanguínea ) de propiedades  bioquímicas, con el propósito de suministrar información para la prevención, el diagnóstico, el pronóstico y el tratamiento de las enfermedades. <br/>
      <br/>
      Las principales determinaciones se refieren a niveles en sangre ( en ayuno ) de glucosa, urea, creatinina, triglicéridos, colesteroles total, de alta y baja densidad, así como pruebas de funcionamiento hepáticos, electrolitos, diversas enzimas, etc. Los cuales se realizan mediante equipos totalmente automatizados avalados por rigurosos controles de calidad internos y externos.
      
          
          