.row
  .span12.offset1
    .titlep
      Remates Judiciales
.row
  .span5.offset1
    .text
      En Corporativo Jurídico Inmobiliario ponemos a su disposición un listado de bienes raices como terrenos, casas, departamentos, bodegas, oficinas, locales, etc. en donde usted podrá elegir y adquirir una propiedad a un precio muy por debajo de su valor comercial y posteriormente vender a un precio más elevado.<br/>


      Los bienes raíces que el Sistema Bancario pone a la venta en Remates Judiciales son subastados con un valor de hasta de un 50% menor de su precio en el mercado.<br/>

      Nosotros le damos la asesoría para llevar a cabo la compra sin correr ningún riesgo, todo esto debido a la amplia experiencia y conocimientos en esta materia.<br/>

      Lo invitamos a conocer el procedimiento completo para la adquisición de este tipo de propiedades.<br/>
      %a{:href =>  "/pages/procremates.html"} LEER PROCEDIMIENTO DE REMATES JUDICIALES. <br/>
      <br/>

  .span5
    %img{:src => "/images/remates.jpg", :alt => "Nosotros"}
    .text
      Para mayor información sobre este procedimiento o sobre los honorarios de este servicio, lo invitamos a contactarnos al teléfono 5651-3234 o escribanos en nuestra <a href='/pages/contacto.html'>FORMA DE CONTACTO.
