.row
  .span12.offset1
    .titlep
      RENTA DE INMUEBLES.<br/>
      %a{:href =>  "/pages/contacto.html"} Quiero anunciar aquí mi propiedad.

<br/>
.row
  .span3.offset1
    .text
      DEPARTAMENTO<br/>
      Col. Emiliano Zapata<br/>
      Distrito Federal, México<br/>
      Delegación Coyoacán <br/>
      %a.btn.btn-small.btn-info{:href => "/pages/departamento3r.html"}
        %i.icon-info-sign.icon-white
        Ver detalles
        
      <br/>
  .span2
    %img{:src => "/images/venta/depto coyoacan 13.jpg", :alt => "Casa Paseos de churubusco"}/ 

  .span3
    .text
      LOCAL<br/>
      Col. Merced Gomez<br/>
      Distrito Federal, México<br/>
      Delegación Alvaro Obregón<br/>
      %a.btn.btn-small.btn-info{:href => "/pages/local1.html"}
        %i.icon-info-sign.icon-white
        Ver detalles
  .span2
    %img{:src => "/images/venta/local1.JPG", :alt => "Local Centenario"}/ 
    <br/>


<br/>
.row
  .span10.offset1
    .hero-unit
      %h1
        ¿No encontró lo que buscaba?<br/> 
      %p
        <br/>
        No se preocupe, nosotros le ayudamos a encontrar otras propiedades en renta con la asesoría legal que consiste en revisar los documentos del inmueble para verificar que todo está en órden para que se pueda llevar a cabo el contrato de arrendamiento. <br/>
        <br/> 

        ¿Quiere rentar su propiedad? Nosotros le hacemos la publicidad necesaria para lograr la renta del inmueble en un tiempo razonable calificando al posible inquilino así como al aval como personas solventes recabando toda la información necesaria para tales efectos.
        %a{:href =>  "/pages/inmuebles.html#renta"} Más información de este servicio.<br/> 
        <br/> 
        Lo invitamos a ponerse en contacto con nosotros al teléfono 5651-3234 o por medio de nuestra <a href='/pages/contacto.html'>FORMA DE CONTACTO.<br/>
     
        

