.row
  .span12.offset1
    .titlep
      Los servicios que le ofrecemos son:

.row
  .span7.offset1
    .titlep
      Remates Judiciales<br/>
    .text
      Asesoría para adquirir inmuebles en el Distrito Federal y Area Metropolitana por debajo de su valor comercial de una manera segura ya que todo el trámite se realiza ante el Juzgado que ésta conociendo del asunto y el dinero se exhibe mediante billete de depósito de Bansefi.<br/>
      <br/>
  .span3
    %img{:src => "/images/remates.jpg", :alt => "Remates Judiciales"}/ 
    <br/>





.row
  .span3.offset1
    .text
      %img{:src => "/images/laboral.png", :alt => "Materia Laboral"}/ 
  .span7
    .titlep
      Materia Laboral<br/>
    .text
      Atención de todo tipo de demandas laborales interviniendo indistintamente por el lado del patrón o del trabajador, asesorando también al patrón en la contratación de su personal para evitar futuros problemas.<br/>
      Nuestros abogados laborales cuentan con una gran experiencia en ésta área y conocen perfectamente la Ley del Trabajo en sus apartados A y B, ante las Juntas  Locales y en las juntas Federales así como ante el Tribunal.<br/>
      <br/>


.row
  .span7.offset1
    .titlep
      Materia Civil<br/>
    .text
      Realización de diversos contratos como compraventa y de arrendamiento, Juicios Hipotecarios elaboración de todo tipo de convenios judiciales y extrajudiciales.<br/>
      Se cuenta con especialistas en la rama civil
      %ul
        %li Contratos
        %li Juicios Especiales Hipotecarios
        %li Convenios
        %li Cumplimiento de Contratos
        <br/>   
  .span3
    .text
      %img{:src => "/images/civil.png", :alt => "Materia Civil"}/ 
      <br/>

.row
  .span3.offset1
    .text
      %img{:src => "/images/familiar.png", :alt => "Materia Familiar"}/ 
      
  .span7
    .titlep
      Materia Familiar<br/>
    .text
      Especialistas en divorcios express, pensiones alimenticias, tramitación de juicios sucesorios testamentarios e intestamentarios.<br/> 
      En nuestro equipo de trabajo contamos con abogados especilizados en la rama familiar
      %ul
        %li Divorcio
        %li Pensiones alimenticias
        %li Sucesiones
        %li Intestados
        %li Reconocimiento de  hijos
        %li etc. 
      <br/>

.row
  .span7.offset1
    .titlep
      Materia Mercantil<br/>
    .text
      Recuperación de cartera vencida cobrando títulos de crédito como pagarés y cheques mediante la vía jdicial y extrajudicial, promoviendo Juicios Ejecutivos Mercantiles así como Ordinarios Mercantiles.<br/>
      <br/>
  .span3
    %img{:src => "/images/mercantil.png", :alt => "Materia Mercantil"}/ 
    <br/>


.row
  .span10.offset1
    .text 
      Para mayor información de alguno de estos servicios lo invitamos a ponerse en contacto con nosotros al teléfono 5651-3234 o llene nuestra <a href='/pages/contacto.html'>FORMA DE CONTACTO.
