.row
  .span12.offset1
    .titlep
      Agradecemos su interés en Corporativo Jurídico Inmobiliario
.row
  .span5.offset1
    .text
      En breve uno de nuestros Abogados se pondrá en contacto con usted y esperamos contar con su preferencia.<br/>
      GRACIAS.<br/>
  .span6
    %img{:src => "/images/success.jpg", :alt => "Corporativo Jirídico Inmobiliario"}
