#tit
  Agradecemos su interés en Corporativo Jurídico Inmobiliario

#subtit
  En breve uno de nuestros Abogados se pondrá en contacto con usted y esperamos contar con su preferencia.
  GRACIAS

%img{:src => "/attachments/success.jpg", :alt => "Corporativo Jirídico Inmobiliario"}
