.row
  .span12.offset1
    .titlep
      VENTA DE INMUEBLES<br/>
      %a{:href =>  "/pages/contacto.html"} Quiero anunciar aquí mi propiedad

<br/>      
.row
  .span3.offset1
    .text
      CASA EN CONDOMINIO<br/>
      Col. Colinas del Sur<br/>
      Distrito Federal, México<br/>
      Delegación Alvaro Obregón<br/>
      %a.btn.btn-small.btn-info{:href => "/pages/casa1.html"}
        %i.icon-info-sign.icon-white
        Ver detalles
        
      <br/>
  .span2
    %img{:src => "/images/venta/casa colinas 10.jpg", :alt => "Casa Colinas del Sur"}/ 
    <br/>

  .span3
    .text
      DEPARTAMENTO<br/>
      Col. Colinas del sur<br/>
      Distrito Federal, México<br/>
      Delegación Alvaro Obregón<br/>
      %a.btn.btn-small.btn-info{:href => "/pages/departamento1.html"}
        %i.icon-info-sign.icon-white
        Ver detalles
  .span2
    %img{:src => "/images/venta/DEPTOCOLINAS1.jpg", :alt => "Departamento Colinas del Sur"}/ 
    <br/>



<br/>
.row
  .span3.offset1
    .text
      CASA<br/>
      Col. Paseos de churubusco<br/>
      Distrito Federal, México<br/>
      Delegación Iztapalapa<br/>
      %a.btn.btn-small.btn-info{:href => "/pages/casa2.html"}
        %i.icon-info-sign.icon-white
        Ver detalles
        
      <br/>
  .span2
    %img{:src => "/images/venta/paseos10.jpg", :alt => "Casa Paseos de churubusco"}/ 
    <br/>

  .span3

    .text
      DEPARTAMENTO EN REMATE<br/>
      Col. Lomas de Plateros<br/>
      Distrito Federal, México<br/>
      Delegación Alvaro Obregón <br/>
      %a.btn.btn-small.btn-info{:href => "/pages/departamento2.html"}
        %i.icon-info-sign.icon-white
        Ver detalles
        
      <br/>
  .span2
    %img{:src => "/images/venta/plateros2.jpg", :alt => "Casa Paseos de churubusco"}/ 
    <br/>




<br/>
.row
  .span3.offset1

    .text
      CASA<br/>
      Col. Villas de Aragón<br/>
      Distrito Federal, México<br/>
      Delegación Gustavo A. Madero<br/>
      %a.btn.btn-small.btn-info{:href => "/pages/casa3.html"}
        %i.icon-info-sign.icon-white
        Ver detalles
        
      <br/>
  .span2
    %img{:src => "/images/venta/villas8.jpg", :alt => "Departamento Villas de Aragón"}/ 
    <br/>


  .span3

    .text
      DEPARTAMENTO<br/>
      Col. Emiliano Zapata<br/>
      Distrito Federal, México<br/>
      Delegación Coyoacán <br/>
      %a.btn.btn-small.btn-info{:href => "/pages/departamento3.html"}
        %i.icon-info-sign.icon-white
        Ver detalles
        
      <br/>
  .span2
    %img{:src => "/images/venta/depto coyoacan 13.jpg", :alt => "Casa Paseos de churubusco"}/ 
    <br/>

<br/>
.row
  .span3.offset1

    .text
      CASA<br/>
      Col. Atlanta<br/>
      Estado de México, México<br/>
      Municipio Cuautitlán Izcalli<br/>
      %a.btn.btn-small.btn-info{:href => "/pages/casa4.html"}
        %i.icon-info-sign.icon-white
        Ver detalles
        
      <br/>
  .span2
    %img{:src => "/images/venta/cuati1A.JPG", :alt => "Casa Cuaititlán Izcalli"}/ 
    <br/>



  .span3

    .text
      DEPARTAMENTO<br/>
      Col. Lomas de Plateros<br/>
      Distrito Federal, México<br/>
      Delegación Alvaro Obregón <br/>
      %a.btn.btn-small.btn-info{:href => "/pages/departamento4.html"}
        %i.icon-info-sign.icon-white
        Ver detalles
        
      <br/>
  .span2
    %img{:src => "/images/venta/plat10.JPG", :alt => "Departamento Plateros"}/ 
    <br/>

<br/>
<br/>
.row
  .span10.offset1
    .hero-unit
      %h1
        ¿No encontró lo que buscaba?<br/> 
      %p
        <br/>
        No se preocupe, nosotros le ayudamos a encontrar otras propiedades en venta con la asesoría legal que consiste en revisar los documentos del inmueble para verificar que todo está en órden para que se pueda llevar a cabo la compraventa sin ningún contratiempo, de igual forma elaboramos el contrato privado de compraventa y lo asesoramos hasta la firma con el Notario respectivo.<br/>
        %a{:href =>  "/pages/inmuebles.html"} Más información de este servicio.<br/> 
        <br/> 
        <br/> 
        Lo invitamos a ponerse en contacto con nosotros al teléfono 5651-3234 o por medio de nuestra <a href='/pages/contacto.html'>FORMA DE CONTACTO.<br/>
     
        

