.row
  .span12.offset1
    .titlep
      Venta de Inmuebles

.row
  .span3.offset1
    .text
      CASA EN CONDOMINIO<br/>
      Col. Colinas del sur<br/>
      Distrito Federal, México<br/>
      Delegación Alvaro Obregón<br/>
      %a.btn.btn-small.btn-info{:href => "/pages/casa1.html"}
        %i.icon-info-sign.icon-white
        Ver detalles
        
      <br/>
  .span2
    %img{:src => "/images/venta/casa colinas 5.jpg", :alt => "Casa Colinas del Sur"}/ 
    <br/>

  .span3
    .text
      DEPARTAMENTO<br/>
      Col. Colinas del sur<br/>
      Distrito Federal, México<br/>
      Delegación Alvaro Obregón<br/>
      %a.btn.btn-small.btn-info{:href => "/pages/departamento1.html"}
        %i.icon-info-sign.icon-white
        Ver detalles
  .span2
    %img{:src => "/images/venta/DEPTOCOLINAS4.jpg", :alt => "Departamento Colinas del Sur"}/ 
    <br/>
