---
title: Laboratorios Clínicos Satélite
---
.row
  .box
    .col-lg-12.text-center
      #carousel-example-generic.carousel.slide
        / Indicators
        %ol.carousel-indicators.hidden-xs
          %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "3", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "4", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "5", "data-target" => "#carousel-example-generic"}
          %li{"data-slide-to" => "6", "data-target" => "#carousel-example-generic"}
        / Wrapper for slides
        .carousel-inner
          .item.active
            %img.img-responsive.img-full{src: "images/xlab1.png"}/
          .item
            %img.img-responsive.img-full{src: "images/xlab2.png"}/
          .item
            %img.img-responsive.img-full{src: "images/xlab3.png"}/
          .item
            %img.img-responsive.img-full{src: "images/xlab4.png"}/
          .item
            %img.img-responsive.img-full{src: "images/xlab5.png"}/
          .item
            %img.img-responsive.img-full{src: "images/xlab9.png"}/
        / Controls
        %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
          %span.icon-prev
        %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
          %span.icon-next

.row
  .col-md-12
  
    %h3.text-center
      Laboratorios Clínicos Satélite<br/> 
    %h4.text-center
      Somos gente especializada que comprendemos que detras de cada muestra hay una persona.
      <br/>
      Le invitamos a ponerse en contacto con nosotros al teléfono 5393-8989 / 5393-8999 o por medio de nuestra  <a href='/pages/contacto.html'>página de contacto.<br/>
        

%script{src: "js/jquery.js"}
%script{src: "js/bootstrap.js"}
:javascript
  $('.carousel').carousel({
        interval: 6000
  })
  