---
title: Corporativo Jurídico Inmobiliario 
---
.row
  .span4.offset1
    .titlep    
      Corporativo Jurídico Inmobiliario
.row
  .span5.offset1
    .text
      Te damos la bienvenida<br/>
      <br/>
      Somos un Corporativo ubicado en la Ciudad de México con experiencia de diez años en el mercado Jurídico Inmobiliario, lo que nos permite brindar a nuestros clientes una asesoría personal e integral al momento de confiarnos algún asunto legal o bien cuando es su voluntad vender o rentar su propiedad ofreciéndoles el respaldo jurídico en cada operación, ya que nuestro equipo de ventas se encuentra apoyado por nuestro Departamento Jurídico.<br/>
      <br/>
      
  .span5
    #myCarousel.carousel.slide
      .carousel-inner
        .active.item 
          %img{:alt => "Materia Mercantil", :height => "360", :src => "/images/mercantil.png", :width => "400"}/
        .item
          %img{:alt => "Materia Familiar", :height => "360", :src => "/images/familiar.png", :width => "400"}/
        .item
          %img{:alt => "Materia Laboral", :height => "360", :src => "/images/laboral.png", :width => "400"}/
        .item
          %img{:alt => "Materia Civil", :height => "360", :src => "/images/civil.png", :width => "400"}/

        .item
          %img{:alt => "Remates Judiciales", :height => "360", :src => "/images/remates.jpg", :width => "400"}/

      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
      


